.App-header {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(5px + 1vmin);
    color: red;
}

.title {
    color: red;
}

.HR-red {
    height: 2px;
    background-color: red;
    margin: 0 15px 0 15px;
}