.App {
  text-align: left;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin: 3vmin;
}

.App-body {
  margin: 1vmin;
}

.Body-p {
  margin: 3vmin;
  padding-top: 2vmin;
}

.HR-red {
  height: 2px;
  background-color: red;
  margin: 0 15px 0 15px;
}

.App-link {
  color: #ffffff;
}

/* ----PREVIOUSLY USED CODE---- */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */